{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi there! My name is Zoha. I am a mom to two beautiful girls, self taught developer and a coffee addict</p>
        <p>I love writing about my motherhood journey, home diys and share my knowledge as a developer </p>
        <p>Thanks for stopping by! I hope you enjoy my posts</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}